::ng-deep app-anonymouse-layout {
  position: relative;
  width: 100%;
  height: 100%;
}

.back-img {
  filter: blur(1px) saturate(0.5);
  position: fixed;
  // max-height: 100%;
  width: auto;
  min-width: 100%;
  z-index: -2;
}

.head {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
}

.brand {
  position: relative;
  height: 90%;
  width: 100%;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
}

.background-bounding {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.color-filter {
  // background-image: linear-gradient(0deg, #512aef, #b5a0e8d1);
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.brand-text {
  font-size: 3rem;
  top: 24rem;
  position: relative;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  // transition: 1s linear;
}

.sub-brand-text {
  font-size: 1.5rem;
  top: 25rem;
  position: relative;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  // transition: 1s linear;
}

.main {
  position: relative;
  background: #fff;
  width: 100%;
  padding: 16px;
  min-height: 800px;
}

::ng-deep html {
  scroll-behavior: smooth;
}

.changeBack {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 10;
  color: #fff;
  background-color: #512aef;
  border-radius: 50%;
  padding: 5px;
  animation: alternate 1s 0.1s;
  transition: all 0.5s linear;

  small {
    position: relative;
  }

  fa-icon {
    position: relative;
    display: inline-flex;
    font-size: 12px;
    padding: 5px;
  }

  div {
    display: none;
  }
}

.changeBack:hover {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 10;
  color: #fff;
  width: 112px;
  background-color: #512aef;
  border-radius: 5px;
  padding: 5px;

  small {
    position: relative;
  }

  fa-icon {
    position: relative;
    display: inline-flex;
    width: 50px;
    height: 20px;
    font-size: 12px;
  }

  div {
    display: inline;
  }

  .expandIcon {
    display: none;
  }
}

.scroll-toolbar {
  animation-name: moving-veritical;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  background: #5ba6ae;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border-radius: 50%;
  color: #fff;
  width: 38px;
  height: 38px;

  fa-icon {
    padding: 7px;
  }
}

@keyframes moving-veritical {
  0% {
    margin-top: 0px;
  }

  50% {
    margin-top: 10px;
  }

  100% {
    margin-top: 0px;
  }
}

app-custome-footer{
  position: relative;
  z-index: 2;
}