<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-title">
                <h5>{{FormObject.Name}}</h5>
            </div>
            <div class="row">
                <div class="mt-2" [ngClass]="form.ValueControls.length>=4?'col-12':'col-12 col-md-6'"
                    *ngFor="let form of FormObject.Groups">
                    <div class="form-title">
                        <h6>{{form.Name}}</h6>
                    </div>
                    <div class="form-container">
                        <div class="row">
                            <form action="">
                                <div class="col-12">
                                    <div class="row">
                                        <div [attr.class]="createControlClass(form)"
                                            *ngFor="let fc of form.ValueControls">
                                            <div class="form-groug" unit-converter>
                                                <label for="" [innerHTML]="fc.FullName"></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="" id=""
                                                        aria-describedby="helpId" placeholder="">
                                                    <div *ngIf="fc.Units && fc.Units.length>0"
                                                        class="input-group-append" dropdown>
                                                        <button type="button" class="btn btn-primary dropdown-toggle"
                                                            dropdownToggle>{{fc.UserUnit}}
                                                            <span class="caret"></span>
                                                        </button>
                                                        <div class="dropdown-menu" *dropdownMenu>
                                                            <a class="dropdown-item" *ngFor="let option of fc.Units"
                                                                (click)="setSelected(fc,option.Symbol)">{{option.Symbol}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <small id="helpId" class="form-text text-muted"
                                                    [innerHTML]="fc.Tooltip"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-2 mt-3">
            <button class="btn btn-primary" (click)="calculate()">Calculate <fa-icon class="btn" [icon]="faCalculator">
                </fa-icon></button>
        </div>
        <div class="col-12 mt-3" *ngIf="content && content.NumberResult>0">
            <div class="row">
                <div class="col-12 flex">
                    <div class="center inline answer-box">
                        <div class="input-group">
                            <p>Calculated Value = </p>
                            <p>{{content.NumberResult}}</p>
                            <div *ngIf="content.Units && content.Units.length>0" class="input-group-append" dropdown>
                                <button type="button" class="btn btn-primary dropdown-toggle"
                                    dropdownToggle>{{content.UserUnit}}
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" *dropdownMenu>
                                    <a class="dropdown-item" *ngFor="let option of content.Units"
                                        (click)="setSelected(content,option.Symbol)">{{option.Symbol}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>